<div class="jumbotron">
    <h1>PAUP - MEV</h1>
    <p class="lead">Primjer korištenja HTML helper elemenata</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primjer 1</h2>
        <p>
            <b>HTML.ActionLink</b> naredba
        </p>
        @Html.ActionLink("Primjer 1", "Primjer1", "Home");
    </div>
    <div class="col-md-4">
        <h2>Primjer 2</h2>
        <b>HTML.TextBox</b> naredba
        @Html.ActionLink("Primjer 2", "Primjer2", "Home");
    </div>
    <div class="col-md-4">
        <h2>Primjer 3</h2>
        <b>HTML.RadioButton</b> naredba
        @Html.ActionLink("Primjer 3", "Primjer3", "Home");
    </div>
</div>